body {
  background: black;
  font-family: monospace;
}
nav {
  font-size: 50px;
}
a {
  color: white;
  text-decoration: none;
  text-align: right;
}
#title {
  font-size: xx-large;
  text-shadow: grey;
}
