body {
  background: black;
  font-family: arvo;
}
nav {
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: center;
}
a {
  color: white;
  text-decoration: none;
  text-align: right;
}
#title {
  font-size: xx-large;
  text-shadow: grey;
}
.frame-border {
  border: 5px solid orangered;
  border-radius: 20px;
}
.fb-border {
  border: 5px solid orangered;
  border-radius: 20px;
}
.associate-border {
  border: 5px solid orange;
  border-radius: 20px;
}
.container {
  margin-top: 10px;
}
