body {
  background: black;
  font-family: arvo;
}
nav {
  border-radius: 20px;
  font-size: 15px;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
  text-align: right;
}
#title {
  font-size: xx-large;
  text-shadow: grey;
}
